#id{
	
	align : center;
}
#fixtures
{
	border : 1 px solid ;
}

/*ul
{
	margin-top:150px;
	list-style-type:none;
	font-weight:bold;

}

h3
{
	
	align:right;
}*/
.row{
    margin-left: 80px;
}
.lo{
	
	width:70px;
	height: 70px;
}
.floatR
{
	float: right;
}

.hidden
{
	display: none;
}
.unhidden
{
	display: block;
}